// Syntax:
// b: border
// a: 1px (b would be 2 px, c would be 3px)
// d: #ddd (e would be #eee, 9 would be #999, letters g-z reserved for custom colors)
// b: bottom (t would be top)

.bad  { border: solid 1px #ddd; }
.badr { border-right: solid 1px #ddd; }
.badt { border-top: solid 1px #ddd; }
.badb { border-bottom: solid 1px #ddd; }
.badl { border-left: solid 1px #ddd; }

.bbd  { border: solid 2px #ddd; }
.bbdr { border-right: solid 2px #ddd; }
.bbdt { border-top: solid 2px #ddd; }
.bbdb { border-bottom: solid 2px #ddd; }
.bbdl { border-left: solid 2px #ddd; }
