.sa { font-size: 8px;  }
.sb { font-size: 10px; }
.sc { font-size: 12px; }
.sd { font-size: 14px; }
.se { font-size: 16px; }
.sf { font-size: 18px; }
.sg { font-size: 20px; }
.sh { font-size: 22px; }
.si { font-size: 24px; }
.sj { font-size: 26px; }
.sk { font-size: 28px; }
.sm { font-size: 32px; }
.so { font-size: 36px; }
.sr { font-size: 42px; }
.sv { font-size: 48px; } 
